

<div *ngIf="paginatedResponse$" class="boxCenter container boxProfile">

  <app-loading *ngIf="isloading "></app-loading>

  <div  class="titleProfile" *ngIf="customer && paginatedResponse$">
    <p>{{ customer.name }} {{ customer.surname }} layaways</p>
  </div>

  <div  class="boxHead mb-3">
    <form class="boxForm">

      <label
          for="table-complete-search"
          class="col-xs-3 col-sm-auto col-form-label"
          >Search:</label
        >
        <div class="col-xs-3 col-sm-auto">
          <input
            id="table-complete-search"
            type="text"
            class="form-control filter"
            name="searchTerm"
            [(ngModel)]="filter"
            (change)="loadLayaways()"
            placeholder="YYYY-MM-dd"
            autocomplete="off"
          />
        </div>
    </form>
  </div>
 
  @if(paginatedResponse$ |async; as pagedList){
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          @for (item of columnNames; track $index) {
          <th scope="col" class="title">{{ item }}</th>
          }
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let layaway of pagedList.data" class="body-row">
          <th scope="row">{{ layaway.layawayId }}</th>
          <td class="value">
            <ngb-highlight
              [result]="formatDate(layaway.opening)"
              [term]="filter"
            />
          </td>
          <td class="value hide">
            {{formatDate(layaway.closing)}}
          </td>
          <td class="value hide">
           {{layaway.state}}
          </td>
          <td class="value hide">
           {{layaway.total.toString()}}
          </td>
          <td class="d-flex justify-content-evenly">
            <app-dropmenu [actions]="do(layaway)"></app-dropmenu>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="boxFooterProfile">
      <ngb-pagination
        class="pagination"
        [collectionSize]="pagedList.totalRecords"
        [(page)]="page"
        [pageSize]="pageSize"
        [maxSize]="10"
        [boundaryLinks]="true"
        [rotate]="true"
        (pageChange)="onPageChange($event)"
      >
      </ngb-pagination>
      <select
        class="form-select"
        style="width: auto"
        name="pageSize"
        [(ngModel)]="pageSize"
        (ngModelChange)="loadLayaways()"
      >
        <option [ngValue]="5">5 items</option>
        <option [ngValue]="8">8 items</option>
        <option [ngValue]="10">10 items</option>
      </select>
    </div>
    }
</div>
