.boxCustomers{
  flex-direction: column;
}
.boxFooterCustomer{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.boxHead{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.boxForm{
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  
}

.boxAdd{
width: 20%;
display: flex;
justify-content: end;
align-items: center;

}

.btnAddUser{
  outline: none;
  border: none;
}

.btnAddUser:hover{
  color: black;
}
.btnAddUser >i{
  font-size: 25px;
}
.btnAddLayaway >i{
  font-size: 25px;
}

.btnProfile >i{
  font-size: 18px;
}

.btnAction {
  border: none;
  outline: none;
}



.filter {
  outline: none; 
  box-shadow: none; 
  border-color: transparent; 
}


.filter:focus {
  outline: none; 
  box-shadow: none; 
  border-color: transparent; 
}


ngb-pagination ::ng-deep a {
  color: var(--bg-secondary-color) !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  border:none ;
  background-color: var(--primary-color);
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
  color: var(--text-secondary-color) !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem dimgrey;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem dimgrey;
}
